@import "fonts.module";
@import "variables.scss";

.signin {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &_maincontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_imgcontainer {
      display: none;
    }

    &_formsection {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      gap: 3rem;

      animation: rightFade 2s ease 0s 1 normal forwards;
      @keyframes rightFade {
        0% {
          opacity: 0;
          transform: translateX(50px);
        }

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      &_headercontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_header {
          color: $primary-header-color;
          font-size: $auth-header-font-size;
          font-weight: $auth-header-font-weight;
          line-height: $auth-header-line-height;
          letter-spacing: $auth-header-letter-spacing;
        }

        &_text {
          color: $secondary-header-color;
          font-size: $secondary-header-font-size;
          font-weight: $secondary-header-font-weight;
          line-height: $secondary-header-line-height;
          margin-top: 0.5rem;
        }
      }

      &_formarea {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &_errorText {
          color: $red-text;
          font-size: $small-font-size;
          &:hover {
            text-decoration: underline;
          }
        }

        &_forgotPassword {
          color: $font-color-light-Green;
          font-size: $small-font-size;
          font-weight: $semi-bold-font-weight;
          line-height: $small-text-line-height;
          letter-spacing: $button-text-letter-spacing;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

  &_logocontainer {
    position: fixed;
    top: 10%;
    left: 8%;
    width: 20%;
    animation: leftFadeLogo 2s ease 0s 1 normal forwards;
    @keyframes leftFadeLogo {
      0% {
        opacity: 0;
        transform: translateX(-50px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
    image {
      width: 100%;
    }
  }

  @media (width >= 768px) {
    &_maincontainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: center;
      gap: 5rem;
      height: 100vh;

      &_formsection {
        width: 50%;
        height: 100vh;

        &_headercontainer {
          align-items: flex-start;
        }

        &_formarea {
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          width: 85%;
        }
      }

      &_imgcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58%;
        box-shadow: inset -20px -8px 68px -70px rgba(214, 201, 214, 1);
        padding-right: 4rem;
        height: 100vh;
        animation: leftFade 2s ease 0s 1 normal forwards;

        @keyframes leftFade {
          0% {
            opacity: 0;
            transform: translateY(-50px);
          }

          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }

        &_image {
          width: 100%;
          margin-top: 6rem;
        }
      }
    }
  }
}
