@import "variables.scss";
@import "_mixins.scss";

.input-field-cont {
  position: relative;
  display: flex;
  align-items: center;
}

.inputfield {
  width: 100%;
  height: $inputfield-height;
  border: $inputfield-border;
  border-radius: $inputfield-border-radius;
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 0.5rem;

  p {
    position: absolute;
    top: 35%;
    left: 83%;
    color: $font-color-light-Green;
    font-size: $small-font-size;
    font-weight: $semi-bold-font-weight;
    line-height: $small-text-line-height;
    letter-spacing: $button-text-letter-spacing;
    text-transform: uppercase;
    cursor: pointer;

    @include respond-to(xsmall) {
      left: 85%;
    }
    @include respond-to(small) {
      left: 90%;
    }
    @include respond-to(medium) {
      left: 92%;
    }

    @include respond-to(base) {
      left: 80%;
    }

    @include respond-to(large) {
      left: 85%;
    }

    @include respond-to(xlarge) {
      left: 88%;
    }
  }

  input {
    width: 100%;
    border: none;
    &:focus {
      outline: none;
    }
  }
  &::placeholder {
    color: $secondary-header-color;
    font-size: $inputfield-placeholder-font-size-mobile;
    font-weight: $secondary-header-font-weight;
    line-height: $inputfield-auth-placeholder-font-size-line-height;
  }
}

.button {
  width: 100%;
  height: $inputfield-height;
  border-radius: $inputfield-border-radius;
  box-shadow: $button-box-shadow;
  transition: background-color 0.3s, box-shadow 0.3s;

  &-signup {
    background-color: $font-color-light-Green;
    color: white;
    border: $font-color-light-Green;
    font-weight: $secondary-header-font-weight;
    font-size: $inputfield-placeholder-font-size;
    letter-spacing: $button-text-letter-spacing;
    cursor: pointer;

    &:hover {
      box-shadow: $button-box-shadow-hover;
    }
  }
  @include respond-to(base) {
    height: $inputfield-height;
    margin-top: 0.5rem;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background: transparent;

  .search-input {
    width: 100%;
    height: 100%;
    padding-left: 0.9rem;
    outline: none;
    height: $auth-header-font-size;
    border-radius: $button-border-radius 0 0 $button-border-radius;
    border: $inputfield-border;
    border-right: 0;

    :focus {
      outline: 0;
      border: 1px solid $primary-header-color;
    }

    &::placeholder {
      color: rgba($secondary-header-color, 0.7);
      font-size: $inputfield-placeholder-font-size;
      font-weight: $secondary-header-font-weight;
      line-height: $inputfield-searchbar-placeholder-font-size-line-height;
    }
  }

  .button-searchbar {
    width: 3.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $font-color-light-Green;
    border: 1px solid $font-color-light-Green;
    border-radius: 0 $button-border-radius $button-border-radius 0;
    img {
      width: 0.9rem;
      height: auto;
    }
  }
}

.header {
  grid-area: header;
  background-color: $bg-white-color;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  z-index: 10;

  .header-inner {
    padding: 0;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
    justify-content: center;
  }

  .header-logo-container-sm {
    display: flex;
    transition: all 0.5s ease;
  }

  .header-menu-container {
    width: 2rem;
  }

  .header-logo-container {
    z-index: 5;
    width: 60%;
  }

  .header-logo-container-lg {
    display: none;
  }

  .header-searchbar-lg {
    display: none;
  }

  .header-searchbar-sm {
    display: block;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-user-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.6rem;
    flex: 1;

    a {
      font-family: "Roboto", sans-serif;
      font-size: $normal-font-size;
      color: $primary-header-color;
      font-weight: $secondary-header-font-weight;
      line-height: 18.75px;
    }

    .header-avatar {
      width: 2rem;
    }
    .header-user-name {
      font-size: $inputfield-placeholder-font-size;
      color: $primary-header-color;
      line-height: $normal-text-line-height;
      font-weight: $semi-normal-font-weight;
    }
    .user-icon-avatar {
      display: flex;
      align-items: baseline;
      img {
        margin-left: 10px;
      }
    }
  }
}

.sidebar {
  .sidebar-sm {
    background: $bg-white-color;
    width: 55%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 10rem;
  }

  .sidebar-container {
    position: fixed;
    top: 22%;
    width: 100%;
  }
  .sidebar-lg {
    display: none;
  }
}
.sidebar-list-container {
  .sidebar-headers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 1.5rem;
  }
  .list-title {
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0 0.6rem 0;
    padding-left: 1.5rem;
    span {
      color: $primary-header-color;
      font-weight: $secondary-header-font-weight;
      font-size: $inputfield-placeholder-font-size;
      line-height: $normal-text-line-height;
    }
  }
  .sidebar-header-main {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      color: $primary-header-color;
      font-weight: $secondary-header-font-weight;
      font-size: $inputfield-placeholder-font-size;
      line-height: $normal-text-line-height;
    }
  }
  .dashboard-container {
    span {
      color: rgba($primary-header-color, 0.6);
    }
  }
  .active-nav {
    background-color: rgba(57, 205, 204, 0.06);
  }
  .sidebar-sublist-sm {
    transition: all 0.5s ease-in;
  }

  .sidebar-sublist-lg {
    display: none;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0;

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      // margin: 0.3rem 0;
      height: 3.08rem;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
    .list-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding-left: 1.5rem;
    }
  }
  .active-bar {
    background-color: $font-color-light-Green;
    height: 2.5rem;
    width: 2px;
    position: absolute;
    left: 0;
  }
}

// MAIN-DASHOARD
.body {
  grid-area: body;
  background: $bg-gray-color;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .body-container {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .page-title {
    h3 {
      font-size: $regular-font-size;
      font-weight: $semi-normal-font-weight;
      line-height: $regular-line-height;
      color: $primary-header-color;
    }
  }
}

.card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;

  .card-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.1rem;
    width: calc(50% - 1rem);
    height: 7rem;
    padding-left: 1.5rem;
    background-color: $bg-white-color;
    border: 1px solid #213f7d0f;
    box-shadow: $card-box-shadow;
    border-radius: $card-border-radius;
    .role {
      font-size: $semi-small-font-size;
      font-weight: $semi-normal-font-weight;
      line-height: $inputfield-searchbar-placeholder-font-size-line-height;
      color: $secondary-header-color;
    }
    .qtity {
      font-size: $normal-text-line-height;
      font-weight: $semi-bold-font-weight;
      line-height: $regular-line-height;
      color: $primary-header-color;
    }
    img {
      width: 20px;
    }
  }
}

.view-more-container {
  border-radius: 4px;
  border: 1px solid rgba(84, 95, 125, 0.04);
  box-shadow: 3px 5px 20px 0px #0000000a;
  background-color: $bg-white-color;
  width: 11.25rem;
  height: 8.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-left: 1.5rem;
  .link{
    text-decoration: none;
  }

  .view-more-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: $semi-normal-font-weight;
    font-size: $inputfield-placeholder-font-size;
    line-height: $inputfield-searchbar-placeholder-font-size-line-height;
    color: $secondary-header-color;
    cursor: pointer;
  }
}
.filters {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  position: absolute;
  top: 9%;
  left: 1.3%;
  width: 23%;
  height: 37.5rem;
  border-radius: 4px;
  border: 1px solid #545f7d24;
  box-shadow: 3px 5px 20px 0px #0000000a;
  background-color: $bg-white-color;
  padding: 2rem 0.8rem ;

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    label {
      text-transform: capitalize;
      font-weight: $semi-bold-font-weight;
      font-size: $semi-small-font-size;
      line-height: $semi-small-line-height;
      color: $secondary-header-color;
    }
    .input-filters {
      width: 100%;
      height: 100%;
      padding-left: 0.3rem;
      outline: none;
      height: $auth-header-font-size;
      border-radius: $button-border-radius;
      border: $inputfield-border;

      .select {
        color: red;
      }

      :focus {
        outline: 0;
        border: 1px solid $primary-header-color;
      }

      &::placeholder {
        color: rgba($secondary-header-color, 0.7);
        font-size: $inputfield-placeholder-font-size;
        font-weight: $secondary-header-font-weight;
        line-height: $inputfield-searchbar-placeholder-font-size-line-height;
      }
    }
    
  }
  .filter-buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filter-buttons {
      border: 0;
      height: 2.5rem;
      width: 6rem;
      font-weight: 600;
      font-size: $inputfield-placeholder-font-size;
      line-height: $inputfield-searchbar-placeholder-font-size-line-height;
      border-radius: 8px;
      background-color: transparent;
    }
    .reset {
      color: $secondary-header-color;
      border: 1px solid #545f7d;
    }
    .filter {
      background-color: #39cdcc;
      border: 1px solid #39cdcc;
      color: white;
    }
  }
}

.table-section {
  width: 100%;
  position: relative;
}
.table-data {
  background-color: $bg-white-color;
  border: 1px solid #213f7d0f;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  padding: 2rem 2rem 0.5rem 2rem;
  width: 100%;
  height: 40rem;

  table {
    white-space: nowrap;
    // min-width: 15rem;
    width: 100%;
  
    border-collapse: collapse;
  }
  .table-head {
    .table-header-content {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: $semi-bold-font-weight;
      font-size: $semi-small-font-size;
      line-height: $semi-small-line-height;
      color: $secondary-header-color;
      // margin: 0 1rem;
      .filter-icon {
        cursor: pointer;
      }
    }

    img {
      width: 10px;
    }
  }
  .table-data-row td {
    border-bottom: 1px solid rgba(33, 63, 125, 0.1);
    height: 3.5rem;
    font-weight: $semi-small-font-size;
    font-size: $inputfield-placeholder-font-size;
    line-height: $inputfield-searchbar-placeholder-font-size-line-height;
    color: $secondary-header-color;

    .more-icon {
      cursor: pointer;
    }
  }
  .table-data-row.last-row td {
    border-bottom: none;
  }
}
.pagination-section {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .pagination-controls {
    display: flex;
    gap: 2rem;
    .navigate {
      background-color: rgba(33, 63, 125, 0.1);
      border-radius: 4px;
      border: 0;
      padding: 3px 5px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button {
      cursor: pointer;
      border: 0;
      background: none;
      color: $secondary-header-color;
      font-weight: $secondary-header-font-weight;
      font-size: $normal-font-size;
      line-height: $normal-text-line-height;
    }
    button.active {
      color: rgba(84, 95, 125, 1);
    }
    button:disabled {
      cursor: not-allowed;
    }

    button.inactive-page {
      color: rgba(33, 63, 125, 0.6);
    }
  }
}

.table-info {
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 0.5rem;
  .style-showing {
    font-weight: $secondary-header-font-weight;
    font-size: $inputfield-placeholder-font-size;
    line-height: $inputfield-searchbar-placeholder-font-size-line-height;
    color: $secondary-header-color;
  }
  .style-count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba($primary-header-color, 0.1);
    border-radius: $card-border-radius;
    height: 1.875rem;
    width: 5rem;
    color: $secondary-header-color;
    font-size: $inputfield-placeholder-font-size;
    line-height: $inputfield-searchbar-placeholder-font-size-line-height;
    font-weight: $semi-normal-font-weight;
  }
}

@include respond-to(base) {
  .header {
    display: flex;
    justify-content: center;
    height: 100%;

    .header-user-container {
      .header-bell-icon {
        margin-left: 1rem;
      }
      .header-avatar {
        width: 2.5rem;
        margin-left: 1.5rem;
      }
      .user-icon-avatar {
        img {
          margin-left: 10px;
        }
      }
    }
  }
  .sidebar {
    .sidebar-sm {
      background: $bg-white-color;
      width: 40%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .sidebar-container {
      position: absolute;
      top: 16%;
    }
  }
}

@include respond-to(large) {
  .header {
    .header-searchbar-lg {
      width: 100%;
      display: flex;
      flex: 2;
    }
    .header-searchbar-sm {
      display: none;
    }
    .header-logo-container-sm {
      display: none;
    }
    .header-logo-container-lg {
      display: block;
      flex: 1;
    }
  }
  .sidebar {
    .sidebar-sm {
      display: none;
    }
    .sidebar-lg {
      display: block;
    }
  }
  .sidebar-container-lg {
    margin-top: 2rem;
  }
  .sidebar-list-container {
    .sidebar-headers {
      gap: 2.5rem;
      margin-bottom: 2rem;
    }
    .list-title {
      margin: 1.5rem 0 0.5rem 0;
      padding-left: 1.5rem;
      font-weight: $semi-normal-font-weight;
      font-size: $semi-small-font-size;
      line-height: $semi-small-line-height;
    }
    .sidebar-header-main {
      span {
        color: $primary-header-color;
        font-weight: $secondary-header-font-weight;
        font-size: $normal-font-size;
        line-height: $normal-text-line-height;
      }
    }
    .dashboard-container {
      span {
        color: rgba($primary-header-color, 0.6);
      }
    }

    ul {
      gap: 0.7rem;
    }
    .sidebar-sublist-lg {
      display: block;
    }
    .sidebar-sublist-sm {
      display: none;
    }
    .arr-icn {
      display: none;
    }
  }
  .card-section {
    .card-item {
      margin: 0;
      height: 10rem;
      width: calc(25% - 1rem);
      row-gap: 1rem;
      .role {
        font-size: $inputfield-placeholder-font-size;
        font-weight: $semi-normal-font-weight;
        line-height: $inputfield-searchbar-placeholder-font-size-line-height;
        color: $secondary-header-color;
      }
      .qtity {
        font-size: $regular-font-size;
        font-weight: $semi-bold-font-weight;
        line-height: $regular-line-height;
        color: $primary-header-color;
      }
      img {
        width: 20px;
      }
    }
  }
  .table-data {
    .table-data-row td {
      font-size: $inputfield-placeholder-font-size;
    }
  }
}

@include respond-to(xlarge) {
  .header {
    // height: 6.25rem;
    .header-inner {
      width: 100%;
      padding: $page-width;
    }

    .search-bar {
      .search-input {
        width: calc(25rem - 3.5rem);
      }
    }

    .header-user-container {
      .header-user-name {
        font-size: $normal-font-size;
      }
      a {
        margin-top: 5px;
      }
      .header-avatar {
        width: 3rem;
        margin-left: 1rem;
      }
      .header-bell-icon {
        margin-left: 1.5rem;
      }
    }
  }
}
