@import "variables.scss";
@import "_mixins.scss";

.input-field-cont {
  position: relative;
  display: flex;
  align-items: center;
}

.inputfield {
  width: 100%;
  height: $inputfield-height;
  border-color: $inputfield-border;
  border-radius: $inputfield-border-radius;
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 0.5rem;

  p {
    position: absolute;
    top: 35%;
    left: 83%;
    color: $font-color-light-Green;
    font-size: $small-font-size;
    font-weight: $semi-bold-font-weight;
    line-height: $small-text-line-height;
    letter-spacing: $button-text-letter-spacing;
    text-transform: uppercase;
    cursor: pointer;

    @include respond-to(xsmall) {
      left: 85%;
    }
    @include respond-to(small) {
      left: 90%;
    }
    @include respond-to(medium) {
      left: 92%;
    }

    @include respond-to(base) {
      left: 80%;
    }

    @include respond-to(large) {
      left: 85%;
    }

    @include respond-to(xlarge) {
      left: 88%;
    }
  }

  input {
    width: 100%;
    border: none;
    &:focus {
      outline: none;
    }
  }

  &::placeholder {
    color: $secondary-header-color;
    font-size: $inputfield-placeholder-font-size-mobile;
    font-weight: $secondary-header-font-weight;
    line-height: $inputfield-auth-placeholder-font-size-line-height;
  }
}

.button {
  width: 100%;
  height: $inputfield-height;
  border-radius: $inputfield-border-radius;
  box-shadow: $button-box-shadow;
  transition: background-color 0.3s, box-shadow 0.3s;

  &-signup {
    background-color: $font-color-light-Green;
    color: white;
    border: $font-color-light-Green;
    font-weight: $secondary-header-font-weight;
    font-size: $inputfield-placeholder-font-size;
    letter-spacing: $button-text-letter-spacing;
    cursor: pointer;

    &:hover {
      box-shadow: $button-box-shadow-hover;
    }
  }
  @include respond-to(base) {
    height: $inputfield-height;
    margin-top: 0.5rem;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background: transparent;

  .search-input {
    width: 85%;
    height: 100%;
    padding-left: 0.9rem;
    outline: none;
    height: $auth-header-font-size;
    border-radius: $button-border-radius 0 0 $button-border-radius;
    border: 1px solid $primary-header-color;
    border-right: 0;

    :focus {
      outline: 0;
      border: 1px solid $primary-header-color;
    }

    &::placeholder {
      color: $secondary-header-color;
      font-size: $inputfield-placeholder-font-size-mobile;
      font-weight: $secondary-header-font-weight;
      line-height: $inputfield-searchbar-placeholder-font-size-line-height;

      //make larger font size dor desktop
    }
  }

  .button-sidebar {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $font-color-light-Green;
    border: 1px solid $font-color-light-Green;
    border-radius: 0 $button-border-radius $button-border-radius 0;
    img {
      width: 0.9rem;
      height: auto;
    }
  }
}

.header {
  grid-area: header;
  background-color: $bg-white-color;
  height: 6.25rem;
  -webkit-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 3px 0px 20px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;

  .header-logo-container {
    width: 2rem;
    //set maxwiidth for large screen
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-user-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    a {
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      color: $primary-header-color;
    }

    .header-avatar {
      width: 2rem;
    }
    .user-icon-avatar {
      display: flex;
      align-items: baseline;
      img {
        margin-left: 5px;
      }
    }
  }
}

.sidebar {
  grid-area: sidebar;
  background: $bg-white-color;
  height: 100vh;
}

.body {
  grid-area: body;
  background: $bg-gray-color;
}
