$primary-header-color: #213f7d;
$auth-header-font-size: 2.5rem; //40px
$auth-header-font-weight: 700;
$auth-header-line-height: 3.415625rem; //54.64px
$auth-header-letter-spacing: -0.04em; //-4%

$secondary-header-color: #545f7d;
$secondary-header-font-size: 1.25rem; //20px
$secondary-header-font-weight: 400;
$secondary-header-line-height: 1.7075rem; //27.32px

$inputfield-border-color: rgba(84, 95, 125, 0.15);
$inputfield-border-radius: 0.3125rem; //5px
$inputfield-border-width: 0.125rem; //2px

$inputfield-height: 3.125rem; //50px
$inputfield-height-mobile: 2.125rem; //34px
$inputfield-placeholder-font-size: 0.875rem; //14px
$inputfield-placeholder-font-size-mobile: 0.675rem; //10.8px

$button-border-radius: 0.5rem; //8px
$button-box-shadow: 0px 0px 90px 0px #00000008; //0px 15px 90px 0px #00000008;
$button-box-shadow-hover: 0px 0 30px 0px rgba(0, 0, 0, 0.1); 

$font-color-light-Green: #39cdcc;
$small-font-size: 0.625rem; //10px
$semi-bold-font-weight: 600;

$button-text-letter-spacing: 0.1em; //10%

$small-text-line-height: 1.024375rem; //16.39px
